.button {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: var(--button-width, auto);

  min-height: var(--button-height, rem(42));
  padding: var(--button-gutter-y, rem(8)) var(--button-gutter-x, rem(32));

  font-weight: 600;
  font-size: var(--button-size, rem(15));
  color: var(--button-color, $light);
  white-space: nowrap;

  border-radius: var(--button-radius, rem(42));
  background: var(--button-fill, $primary);

  transition: .5s linear;
  transition-property: background-color, border-color, color, transform;
  cursor: pointer;

  &:not(.--low) {
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  &.--link {
    color: $secondary-light;
    background: unset;
  }

  &.--light {
    color: currentColor;
    border: rem(1) solid currentColor;
    background: transparent;
  }

  @include only-mouse {
    &:hover {
      background: var(--button-fill-hover, $primary-dark);
      color: var(--button-color-hover, $light-dark);

      &.--link {
        color: $primary;
        background: unset;
      }

      &.--light {
        color: $secondary;
        background: transparent;
      }
    }

    &:active {
      transform: scale(0.85);
    }
  }
}
