-
  var
          sourcePathJS = path + "js/main.js",
          sourcePathSCSS = path + 'scss/style.scss',

          faviconDir = path + 'assets/images/favicon/',
          headerClass,

          canonicalLink = hostLink,
          googleFontsPrimary = "",

          hostLink = "/",
          emailLink = "",
          posterImage = '../../assets/images/meta-img.jpeg',
          posterImageWidth = '1200',
          posterImageHeight = '630',

          routes = {
            home: '/index.html',
            terms: '/terms-conditions.html',
            privacy: '/privacy-policy.html',
            notFound: '/404.html'
          },

          socialLink = {
            tl: '',
            fb: '',
            tw: '',
            inst: ''
          }
