.main-catalog
  .container
    .main-catalog__head
      h1.caption Session Artists for your
        br dream project.

        p Select Category

        button(class='button --tertiary' type='button')
        button(class='button --secondary' type='button')

    .main-catalog__content
      .main-catalog__list
        a.main-catalog__link(href='#')
