section.social-links
  .container
    h3.caption Social

    .social-links__links
      a.social-links__link.sai-soc-inst(href=socialLink.inst)
      a.social-links__link.sai-soc-fb(href=socialLink.fb)
      a.social-links__link.sai-soc-tw(href=socialLink.tw)
