footer.footer
  .container
    .footer__menu
      a.footer__link(href='#') Modile App
      a.footer__link(href='#') Community
      a.footer__link(href='#') Company
    .footer__logo
      +logo
    .footer__menu
      a.footer__link(href='#') Help desk
      a.footer__link(href='#') Blog
      a.footer__link(href='#') Resources

  .footer__copy © 2022 Session artist All rights reserved
