header.header
  .container
    .header__logo
      +logo

    .header__search
      include search

    .header__btns
      button(class='button --line') Login in
      button(class='button') Register
