.main-catalog
  .container
    .main-catalog__head
      h1.caption
        | Session Artists for your
        br
        | dream project.

      p Select Category

      .main-catalog__btns
        button(class='button --line --tertiary ' type='button') Find an srtist
        button(class='button --line --secondary' type='button') Become seller

    .main-catalog__content
      .main-catalog__list
        a.main-catalog__link(href='#' data-name="Guitar")
          img(src="../../assets/images/category-1.png" alt="")
        a.main-catalog__link(href='#' data-name="Guitar")
          img(src="../../assets/images/category-2.png" alt="")
        a.main-catalog__link(href='#' data-name="Guitar")
          img(src="../../assets/images/category-3.png" alt="")
        a.main-catalog__link(href='#' data-name="Guitar")
          img(src="../../assets/images/category-4.png" alt="")
        a.main-catalog__link(href='#' data-name="Guitar")
          img(src="../../assets/images/category-5.png" alt="")
        a.main-catalog__link(href='#' data-name="Guitar")
          img(src="../../assets/images/category-6.png" alt="")

