// SEO meta descriptions variables
-
  var
          META_TITLE = '',
          META_DESCRIPTION = '',
          META_KEYWORDS = '',
          META_CREATOR = '',
          META_SITE_NAME = hostLink,
          META_LOCALE = 'en'
